*{
  margin:0;
  padding:0;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.body
{
  background: #eee;
  left:0px;
  top:0px;
  margin: 0 auto;
  padding:0;
  width:1200px;
}
.header
{
  font-family: latolight;
  font-size : 16px;
  color: #404040;
  text-align: center;
  height: 60px;
  line-height: 60px; 
}
.comment {
  font-family: latolight;
  text-align: center;
  width: 790px;
  height: auto;
}
.cursor {
  cursor: pointer;
}
.form {
  text-align: center;
  width: 60px;
  height: 13px;
  font-family: latolight;
  font-size: 12px;
}
.form1 {
  width: 100px;
  font-family: latolight;
  font-size: 12px;
}
.form2 {
  width: 140px;
  padding: 0px 10px;
  font-family: latolight;
  font-size: 12px;
}
.button {
  font-family: latolight;
  font-size: 14px;
  color: white; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: #A6CAAE; /* фон кнопки */
  padding: 6px 12px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
} 
.button:hover {
    background: #ddd;
    color: gray;
} /* при наведении курсора мышки */
.button:active {
    background: #fff;
} /* при нажатии */
.button1 {
  width: 130px;
  font-size: 14px;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: #FFF; /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
  cursor: pointer;
  display: inline;
}
.block {
  font-family: latolight;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  height: auto;
}
.block1 {
  font-size: 12px;
  float: left;
  padding: 0px 15px;
  margin: 10px 0px;
}
.block2 {
  font-family: latolight;
  font-size: 12px;
}
.block3 {
  border: solid 1px #ccc;
  width: auto;
  height: 170px;
  margin: 0px 1.25px;
  padding: 5px 11px ;
  float: left; /* Выравнивание по левому краю */
  font-family: latolight;
  font-size: 12px;
  background-color: #eee;
}
.block4 {
  padding: 0px 0px;
  float: left;
}
.block5 {
  padding: 0px 5px ;
  text-align: left;
}
.block-header {
  height: 30px;
  line-height: 30px; 
  font-family: latolight;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  padding: 10px 20px;
}
.ink_sample {
  width: 13px;
  height: 13px;
}
.status_sample {
  width: 20px;
  height: 20px;
}
.ink1 {
    padding: 5px 0px;
}
.ink2 {
    padding: 5px 16px;
}
.roll-dir-container {
     text-align: center;
     padding: 0px 5px;
     width: 78px;
     height: 50px;
     font-size: 80px;
     color: gray;
     font-weight: bold;
     }
.head_mashine {
     transform: rotate(-90deg);
}
.foot_mashine {
     transform: rotate(90deg);
}
.foot_forward {
     transform: rotate(180deg);
}
.head_forward {
     transform: rotate(0deg);
}
.table {
    font-size: 12px;
    text-align: left;
    padding: 15px 10px;
    cursor: default;
    text-decoration: none;
    color: white;
}
.table-header {
    border: solid 1px #ccc;
    color: gray;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    background: #eee;
    height: 30px;
    cursor: pointer;
    width:800px;
}
.odd {
    background: #FFF; /* Цвет фона нечетных строк */
}
.even {
    background: #EEE; /* Цвет фона четных строк */
}
.cell-center {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    background: white;
    cursor: pointer;
}
.img-container {
    border-radius: 30px;
    border: solid 3px #A6CAAE;
    margin: 0px 5px;
}
.name {
  font-family: latolight;
  font-size: 14px;
  text-align: left;
  color: black;
  float: left;
}
.search {
  width: 120px;
  font-family: latolight;
  font-size: 12px;
}
.new {
    background: #FFFAC2;
    text-align: left;
}
.job {
    background: #FFFFFF;
    text-align: left;
}
.agreement {
    background: #87B7E1;
    text-align: left;
}
.agreed {
    background: #C7E4BA;
    text-align: left;
}
.completed {
    background: #F8BBC7;
    text-align: left;
}
.deleted {
    background: #C7C8CA;
    text-align: left;
}
.all {
    background: #FFFFFF;
    text-align: left;
}
ul.hr {
    font-size: 12px;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: -15px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
}