        <header class="header">
                <a>{{order.order_number}} &#149 {{order.customer}} &#149 {{order.order_name}}</a>
        </header>
        
<div class="block">
     <a href ng-click="show = !show" class="block-header">Ассортимент</a>
     <div ng-hide="show" class="block2">
        <table class="block1">
            <tr class="table-header">
                <th class="table-header"><input type="checkbox"></th>
                <th class="table-header">п/п</th>
                <th class="table-header">Наименование</th>
                <th class="table-header">Присвоить паспорт</th>
                <th class="table-header" title="или из другого источника">Файл из паспорта</th>
                <th class="table-header">Выполнить из паспорта</th>
                <th class="table-header">Текущее состояние</th>
            </tr>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="label in order.labels">
                <td class="cell-center"><input type="checkbox"></td>
                <td class="cell-center">{{$index+1}}</td>
                <td class="cell-center">{{label.name}}</td>
                <td class="cell-center">{{label.placement}}</td>
                <td class="cell-center">{{label.source}}</td>
                <td class="cell-center">{{label.run}}</td>
                <td class="cell-center">{{label.status}}</td>
            </tr>
      </table>
        <div style="margin: 15px 0px">
            <a href="#" class="button" >!</a>
            <a href="#" class="button" >Сравнить технологию</a>
            <a href="#" class="button" >+</a>
            <a href="#" class="button" >–</a>
            <a href="#" class="button" >Внести правки</a>
            <a href="#" class="button" >Отправить корректору</a>
            <a href="#" class="button" >Вывести</a>
            <a href="#" class="button" >История</a>
        </div>
    </div>
</div>

<div class="block">
       <a href ng-click="hide = !hide" class="block-header">Технология</a>
            <div ng-hide="hide" class="block2">
                <div class="block3">
                    <p>Основные параметры</p><br>
                        <p>Печать<br>
                                <select class="form2" name="print_type">
                                    <option value="digital" ng-selected="{{order.print_type == 'digital'}}">цифровая</option>
                                    <option value="flexo" ng-selected="{{order.print_type == 'flexo'}}">флексо</option>
                                    <option value="combo" ng-selected="{{order.print_type == 'combo'}}">комбинированная</option>
                                </select>
                            </p><br>
                        <p>Этикетка<br>
                              <select class="form2" name="label_type">
								<option value="self-label" ng-selected="{{order.label_type == 'self-label'}}">самоклеящаяся</option>
								<option value="termo" ng-selected="{{order.label_type == 'termo'}}">термоусадочная</option>
								<option value="oborot" ng-selected="{{order.label_type == 'oborot'}}">в оборот</option>
                                    <option value="in-mold" ng-selected="{{order.label_type == 'in-mold'}}">in-mold</option>
                               </select>
                         </p><br>
                         <p>Материал<br>
                              <select class="form2" name="material_type">
								<option value="sem" ng-selected="{{order.material_type == 'sem'}}">sem (бумага п/глянцевая)</option>
								<option value="pew" ng-selected="{{order.material_type == 'pew'}}">pew (пленка белая)</option>
                                    <option value="pptr" ng-selected="{{order.material_type == 'pptr'}}">pptr (пленка прозрачная)</option>
								<option value="mps" ng-selected="{{order.material_type == 'mps'}}">mps (бумага металлизированая)</option>
                                    <option value="pps" ng-selected="{{order.material_type == 'pps'}}">pps (пленка металлизированая)</option>
                               </select>
                          </p><br>
                          <p>Ширина пореза материала (мм)
                                <select class="form1" style="text-align: center" name="material_width">
                                    <option value="170" ng-selected="{{order.material_width == '170'}}">170</option>
                                    <option value="175" ng-selected="{{order.material_width == '175'}}">175</option>
                                    <option value="180" ng-selected="{{order.material_width == '180'}}">180</option>
                                    <option value="185" ng-selected="{{order.material_width == '185'}}">185</option>
                                    <option value="190" ng-selected="{{order.material_width == '190'}}">190</option>
                                    <option value="195" ng-selected="{{order.material_width == '195'}}">195</option>
                                    <option value="200" ng-selected="{{order.material_width == '200'}}">200</option>
                                    <option value="205" ng-selected="{{order.material_width == '205'}}">205</option>
                                    <option value="210" ng-selected="{{order.material_width == '210'}}">210</option>
                                    <option value="215" ng-selected="{{order.material_width == '215'}}">215</option>
                                    <option value="220" ng-selected="{{order.material_width == '220'}}">220</option>
                                    <option value="225" ng-selected="{{order.material_width == '225'}}">225</option>
                                    <option value="230" ng-selected="{{order.material_width == '230'}}">230</option>
                                    <option value="235" ng-selected="{{order.material_width == '235'}}">235</option>
                                    <option value="240" ng-selected="{{order.material_width == '240'}}">240</option>
                                    <option value="245" ng-selected="{{order.material_width == '245'}}">245</option>
                                    <option value="250" ng-selected="{{order.material_width == '250'}}">250</option>
                                    <option value="255" ng-selected="{{order.material_width == '255'}}">255</option>
                                    <option value="260" ng-selected="{{order.material_width == '260'}}">260</option>
                                    <option value="265" ng-selected="{{order.material_width == '265'}}">265</option>
                                    <option value="270" ng-selected="{{order.material_width == '270'}}">270</option>
                                    <option value="275" ng-selected="{{order.material_width == '275'}}">275</option>
                                    <option value="280" ng-selected="{{order.material_width == '280'}}">280</option>
                                    <option value="285" ng-selected="{{order.material_width == '285'}}">285</option>
                                    <option value="290" ng-selected="{{order.material_width == '290'}}">290</option>
                                    <option value="295" ng-selected="{{order.material_width == '295'}}">295</option>
                                    <option value="300" ng-selected="{{order.material_width == '300'}}">300</option>
                                    <option value="305" ng-selected="{{order.material_width == '305'}}">305</option>
                                    <option value="310" ng-selected="{{order.material_width == '310'}}">310</option>
                                    <option value="315" ng-selected="{{order.material_width == '315'}}">315</option>
                                    <option value="320" ng-selected="{{order.material_width == '320'}}">320</option>
                                    <option value="325" ng-selected="{{order.material_width == '325'}}">325</option>
                                    <option value="330" ng-selected="{{order.material_width == '330'}}">330</option>
                                    <option value="333" ng-selected="{{order.material_width == '333'}}">333</option>
                                </select>
                          </p><br>
                          <p>Высечка<br>
							<select class="form1" name="cut_type">
								<option value="ready" ng-selected="{{order.cut_type == 'ready'}}">готовая</option>
								<option value="new" ng-selected="{{order.cut_type == 'new'}}">заказная</option>
                                    <option value="porez" ng-selected="{{order.cut_type == 'porez'}}">порез</option>
								<option value="plotter" ng-selected="{{order.cut_type == 'plotter'}}">плоттер</option>
								<option value="no_cut" ng-selected="{{order.cut_type == 'no_cut'}}">без высекания</option>
							</select>
                           </p><br>
                           <p>Номер штампа высечки<br>
							<input ng-model="order.cut_number" value="{{order.cut_number}}" class="form1" style="text-align: center" name="cut_number" type="text">
                           </p><br>
                           <p>Размеры этикетки (мм)<br>
							<input ng-model="order.size_x" class="form" name="size_x" type="text">
                            x
							<input ng-model="order.size_y" class="form" name="size_y" type="text">
						 </p><br>
            </div>
        
            <div class="block3">
                <p>Красочность</p>
                <br>
                    <div class="block4">
                        <p class="block5" ng-repeat="inks in order.inks1"> <!-- Массив Opaque + CMYK + IndiChrome -->
                                <input ng-model="order.inks1[$index].used" ng-click="{{order.inks1[$index].used}}" type="checkbox">
                                <input ng-model="order.inks2[$index].used" ng-click="{{order.inks2[$index].used}}" type="checkbox">
                                    <svg class="ink_sample">
                                        <rect x="0" y="0" style="fill:{{misc.sample_ink[$index].color}};" width="13" height="13"/>
                                    </svg>
                                    <span class="ink1">{{misc.sample_ink[$index].name}}</span>
                                    <br>
                        </p>
                    </div>
                    <div class="block4">
                        <p class="block5" ng-repeat="pms in order.pms"> <!-- Массив Pantones -->
                              <label class="ink1">PMS</label>
                                    <svg class="ink_sample">
                                        <rect x="0" y="0" style="fill:{{misc.sample_pms[order.pms[$index].value].color}}" width="13" height="13"/>
                                    </svg>
                                <input ng-model="order.pms[$index].value" class="form" type="text"><br>
                        </p>
                    </div>
                    <div class="block4">
                        <br>
                            <p>Отделка<br>
                                <select class="form2" name="polish">
                                    <option value="none" ng-model="polish" ng-selected="{{polish == 'none'}}">без отделки</option>
                                    <option value="laminat" ng-model="polish" ng-selected="{{polish == 'laminat'}}">ламинация</option>
                                    <option value="warnish" ng-model="polish" ng-selected="{{polish == 'warnish'}}">лакирование</option>
                                </select>
                    </p><br>
                            <p>Лакирование<br>
                                <select class="form2" name="lak">
                                    <option value="none" ng-model="lak" ng-selected="{{lak == 'none'}}">без лака</option>
                                    <option value="solid" ng-model="lak" ng-selected="{{lak == 'solid'}}">сплошной лак</option>
                                    <option value="select" ng-model="lak" ng-selected="{{lak == 'select'}}">выборочный лак</option>
                                    <option value="both" ng-model="lak" ng-selected="{{lak == 'both'}}">сплошной/выборочный лаки</option>
                                </select>
                    </p><br>
                    <p>Тиснение<br>
                                <select class="form2" name="tisnenie">
                                    <option value="none" ng-model="tisnenie" ng-selected="{{tisnenie == 'none'}}">без тиснения</option>
                                    <option value="hot" ng-model="tisnenie" ng-selected="{{tisnenie == 'hot'}}">горячее</option>
                                    <option value="cold" ng-model="tisnenie" ng-selected="{{tisnenie == 'cold'}}">холодное</option>
                                </select>
                    </p><br>
                    <p>Конгрев<br>
                                <select class="form2" name="kongrev">
                                    <option value="none" ng-model="kongrev" ng-selected="{{kongrev == 'none'}}">без конгрева</option>
                                    <option value="flat" ng-model="kongrev" ng-selected="{{kongrev == 'flat'}}">плоский</option>
                                    <option value="rotation" ng-model="kongrev" ng-selected="{{kongrev == 'rotation'}}">ротационный</option>
                                </select>
                    </p>
                    </div>
        </div>
        
        <div class="block3">
                    <p>Оттиск</p><br>
                            <p>Количество элементов<br>
							<input ng-model="order.quantity_X" class="form" name="quantity_X" type="text">
                                    x
							<input ng-model="order.quantity_Y" class="form" name="quantity_Y" type="text"><br>
                            </p><br>
                            <p>Размеры оттиска (мм)<br>
							<input  ng-model="order.print_size_X" class="form" name="print_size_X" type="text">
                                    x
							<input  ng-model="order.print_size_Y" class="form" name="print_size_Y" type="text"><br>
                            </p><br>
                            <p>Расстояние между этикетками (мм)<br>
                                AQ:
                                    <input ng-model="order.AQ" class="form" name="AQ" type="text">
                                AL:
                                    <input ng-model="order.AL" class="form" name="AL" type="text"><br>
                            </p><br><br>
                    <p>Намотка</p>
                            <br>
                            <div class="block4">
                                    <br>
                                        <div class="roll-dir-container">
                                            <p ng-model="order.roll_direct" ng-change="change()" ng-class="order.roll_direct">A</p>
                                        </div>
                            </div>
                            <div class="block4">
                            <p class="block5">Способ намотки<br>
                                <select class="form1" name="roll_method">
                                    <option value="hand" ng-model="roll_method" ng-selected="{{roll_method == 'hand'}}">ручная</option>
                                    <option value="auto" ng-model="roll_method" ng-selected="{{roll_method == 'auto'}}">автоматическая</option>
                                </select>
                            </p>
                            <p class="block5">Тип намотки<br>
                                <select class="form1" name="roll_type">
                                    <option value="outside" ng-model="roll_type" ng-selected="{{roll_type == 'outside'}}">наружная</option>
                                    <option value="inside" ng-model="roll_type" ng-selected="{{roll_type == 'inside'}}">внутренняя</option>
                                </select>
                            </p><br>
                            <p class="block5">Направление<br>
                                <select ng-model="order.roll_direct" ng-change="change()" class="form1" name="roll_direct">
                                    <option value="head_mashine" ng-model="order.roll_direct" ng-selected="{{order.roll_direct == 'head_mashine'}}">головой к машине</option>
                                    <option value="foot_mashine" ng-model="order.roll_direct" ng-selected="{{order.roll_direct == 'foot_mashine'}}">ногами к машине</option>
                                    <option value="foot_forward" ng-model="order.roll_direct" ng-selected="{{order.roll_direct == 'foot_forward'}}">ногами к вперед</option>
                                    <option value="head_forward" ng-model="order.roll_direct" ng-selected="{{order.roll_direct == 'head_forward'}}">головой к вперед</option>
                                </select>
                             </p><br>
                            </div>
      </div>
</div>
