        <header class="header">
            <a href="#" style="text-decoration: none" title="Предыдущий месяц"><</a>
            <a>Ноябрь 2014</a>
            <a href="#" style="text-decoration: none" title="Следующий месяц">></a>
        </header>
<div class="tabs">
  <ul>
    <li>
     <input type="radio" name="tabs-0" id="tabs-0-0" />
        <label for="tabs-0-0">Новые</label>
      <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
                <th class="table"><a>Менеджер</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | filter:status='new'">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
                <td class="{{order.status}}">{{order.manager}}</td>
            </tr>
        </table>
      </div>
   </li>
   <li>
     <input type="radio" name="tabs-0" id="tabs-0-1" />
       <label for="tabs-0-1">В работе</label>
     <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
                <th class="table"><a>Менеджер</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | filter:status='job'">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
                <td class="{{order.status}}">{{order.manager}}</td>
            </tr>
        </table>
     </div>
    </li>
    <li>
      <input type="radio" name="tabs-0" id="tabs-0-2" />
        <label for="tabs-0-2">На утвержении</label>
     <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
                <th class="table"><a>Менеджер</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | filter:status='agreement'">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
                <td class="{{order.status}}">{{order.manager}}</td>
            </tr>
        </table>
     </div>
    </li>
    <li>
     <input type="radio" name="tabs-0" id="tabs-0-3" />
        <label for="tabs-0-3">Утвержденые</label>
     <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
                <th class="table"><a>Менеджер</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | filter:status='agreed'">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
                <td class="{{order.status}}">{{order.manager}}</td>
            </tr>
        </table>
     </div>
   </li>
   <li>
     <input type="radio" name="tabs-0" id="tabs-0-4" />
        <label for="tabs-0-4">Завершенные</label>
     <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | filter:status='closed'">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
            </tr>
        </table>
     </div>
   </li>
   <li>
     <input type="radio" name="tabs-0" id="tabs-0-5" checked="checked" />
        <label for="tabs-0-5">Все</label>
     <div>
       <div>
        <table>
            <tr>
                <th class="table"><a>Дата/Время</a></th>
                <th class="table"><a>Номер заказа</a></th>
                <th class="table"><a>Заказчик</a></th>
                <th class="table"><a>Наименование</a></th>
            </tr>
            <tr class="cursor" onclick="window.location.href='#/details'" ng-repeat="order in order.orders  | orderBy:sortparam">
                <td class="{{order.status}}">{{order.date}}</td>
                <td class="{{order.status}}">{{order.number}}</td>
                <td class="{{order.status}}">{{order.customer}}</td>
                <td class="{{order.status}}">{{order.name}}</td>
            </tr>
        </table>
     </div>
   </li>
  </ul>
</div>
<div class="block1" style="border: none">
    <ul class="hr">
        <li class="table" ng-repeat="status in misc.status">
            <svg class="status_sample">
                <rect x="0" y="0" style="fill:{{misc.status[$index].color}}; stroke: #000000" width="20" height="20"/>
            </svg>
            {{misc.status[$index].label}}
        </li>
    </ul>
</div>