*{
  margin:0;
  padding:0;
}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light.eot');
    src: url('fonts/lato-light.eot?#iefix') format('embedded-opentype'),
          url('fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.body
{
  left:0px;
  top:0px;
  margin: 0 auto;
  padding:0;
  width:750px;
}
.header
{
  font-family: latolight;
  font-size : 18px;
  color: #404040;
  text-align: center;
  height: 60px;
  line-height: 60px; 
}
.cursor {
  cursor: pointer;
}
.form {
  text-align: center;
  width: 60px;
  font-family: latolight;
  font-size: 12px;
}
.form1 {
  width: 134px;
  font-family: latolight;
  font-size: 12px;
}
.form2 {
  width: 230px;
  font-family: latolight;
  font-size: 12px;
}
.button {
  font-family: latolight;
  font-size: 14px;
  color: gray; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: #eee; /* фон кнопки */
  padding: 6px 10.35px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
  border: solid 1px #ccc;
} 
.button:hover {
    background: #ddd;
} /* при наведении курсора мышки */
.button:active {
    background: #fff;
} /* при нажатии */
.block {
  font-family: latolight;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  height: auto;
}
.block1 {
  border: solid 1px #ccc;
  padding: 5px 5px ;
  margin: 5px 2px;
  font-family: latolight;
  font-size: 12px;
}
.block2 {
  height: 382px;
  font-family: latolight;
  font-size: 12px;
  margin: 10px 0px;
}
.block3 {
  border: solid 1px #ccc;
  width: 232px;
  height: 370px;
  margin: 0px 3px;
  padding: 5px 5px ;
  float: left; /* Выравнивание по левому краю */
  font-family: latolight;
  font-size: 12px;
  background-color: #eee;
}
.block4 {
  padding: 0px 0px;
  width: 90px;
  float: left;
}
.block5 {
  padding: 5px 3px ;
  float: left;
  text-align: left;
}
.block-header {
  font-family: latolight;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  padding: 10px 20px;
}
.ink_sample {
  width: 13px;
  height: 13px;
}
.ink1 {
    padding: 5px 0px;
}
.ink2 {
    padding: 5px 16px;
}
.hr {
    border: solid 1px #ccc;
}
.roll-dir-container {
     text-align: center;
     width: 80px;
     height: 80px;
     font-size: 80px;
     color: gray;
     font-weight: bold;
     }
.head_mashine {
     transform: rotate(-90deg);
}
.foot_mashine {
     transform: rotate(90deg);
}
.foot_forward {
     transform: rotate(180deg);
}
.head_forward {
     transform: rotate(0deg);
}
.table {
    font-size: 12px;
    text-align: left;
    padding: 5px 10px;
}
.table-header {
    color: white;
    text-align: center;
    padding: 15px 10px;
    background: #A6CAAE;
}
.odd {
    background: #E6F0EE; /* Цвет фона нечетных строк */
}
.even {
    background: #F2E5DF; /* Цвет фона четных строк */
}
.cell-center {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
}