*{
  margin:0;
  padding:0;
}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light.eot');
    src: url('fonts/lato-light.eot?#iefix') format('embedded-opentype'),
          url('fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.body
{
  left:0px;
  top:0px;
  margin: 0 auto;
  padding:0;
  width:750px;
}
.header
{
  font-family: latolight;
  font-size : 18px;
  color: #404040;
  text-align: center;
  height:60px;
  line-height: 60px; 
}
.cursor {
  cursor: pointer;
}
.form {
  width: 48px;
  font-family: latolight;
  font-size: 12px;
}
.form1 {
  width: 90px;
  font-family: latolight;
  font-size: 12px;
}
.form2 {
  width: 225px;
  font-family: latolight;
  font-size: 12px;
}
.button-check {
  font-family: latolight;
  font-size: 14px;
  color: white; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: red; /* фон кнопки */
  padding: 6px 10.35px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
} 
.button {
  font-family: latolight;
  font-size: 14px;
  color: gray; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: #eee; /* фон кнопки */
  padding: 6px 10.35px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
} 
.button:hover {
    background: #ddd;
} /* при наведении курсора мышки */
.button:active {
    background: #fff;
} /* при нажатии */
.block {
  font-family: latolight;
  font-size: 12px;
  height: auto;
}
.block1 {
  border: solid 1px #ccc;
  padding: 10px 5px ;
  margin: 5px 2px;
  font-family: latolight;
  font-size: 12px;
}
.block2 {
  height: 370px;
  font-family: latolight;
  font-size: 12px;
}
.block3 {
  border: solid 1px #ccc;
  width: 232px;
  height: 360px;
  margin: 0px 3px;
  padding: 5px 5px ;
  float: left; /* Выравнивание по левому краю */
  font-family: latolight;
  font-size: 12px;
  background-color: #eee;
}
.block5 {
  padding: 5px 5px ;
  float: left; /* Выравнивание по левому краю */
}
.block-header {
    font-family: latolight;
    font-size: 14px;
    text-align: center;
    color: #404040;
    padding: 10px 20px;
}
.ink_sample {
  width: 13px;
  height: 13px;
}
.ink1 {
padding: 5px 0px;
}
.ink2 {
padding: 5px 16px;
}
.hr {
    border: solid 1px #ccc;
}
.roll-dir-container {
     text-align: center;
     width: 100px;
     height: 100px;
}
.roll-dir-sample {
     font-size: 80px;
     color: gray;
     font-weight: bold;
     transform: rotate(0deg);
}
.table {
    font-size: 12px;
    text-align: left;
    padding: 5px 10px;
}
.table-header {
    text-align: center;
    padding: 5px 10px;
    background: #eee;
}
.odd {
    background: #E6F0EE; /* Цвет фона нечетных строк */
}
.even {
    background: #F6EDE9; /* Цвет фона четных строк */
}
.cell-center {
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
}
.tabs {
    width: 100%;
    height: 800px;
}
.tabs ul,
.tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs,
.tabs input[type="radio"]:checked + label {
    position: relative;
}
.tabs li,
.tabs input[type="radio"] + label {
    display: inline-block;
}
.tabs li > div,
.tabs input[type="radio"] {
    position: absolute;
}
.tabs li > div,
.tabs input[type="radio"] + label {
    border: solid 1px #ccc;
}
.tabs {
    font-family: latolight;
    font-size: 14px;
    color: #404040;
}
.tabs li {
    vertical-align: top;
}
.tabs li:first-child {
    margin-left: 8px;
}
.tabs li > div {
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tabs input[type="radio"] + label {
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.tabs input[type="radio"]:checked + label {
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
.tabs input[type="radio"] {
    opacity: 0;
}
.tabs input[type="radio"] ~ div {
    display: none;
}
.tabs input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
}
.tabs input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
}