<!DOCTYPE html>
<html ng-app="indigo" ng-controller="OrderController">
<head>
         <title>Мои заказы</title>
                <link rel="stylesheet" href="../css/style.css">
                <link rel="stylesheet" href="../css/font-awesome.min.css">
                <meta charset="utf-8">
</head>
<body class="body">

<div class="block2" style="text-align: center">
    <ul class="hr">
        <li ng-repeat="status in order_status" ng-click="setStatus()">
                <p  style="padding: 5px 10px; display: inline" ng-class="status.name" ng-bind="status.label"></p>
        </li>
    </ul>
</div>

<div ng-view></div>

                <script type="text/javascript" src="../angular.js"></script>
                <script type="text/javascript" src="../i18n/angular-locale_ru-ru.js"></script>
                <script type="text/javascript" src="../angular-route.min.js"></script>
                <script type="text/javascript" src="../app.js"></script>
                <script type="text/javascript" src="../appConstants.js"></script>
                <script type="text/javascript" src="../dataService.js"></script>
</body>
</html>
